*, *::before, *::after{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

body{
  padding:0;
  margin:0;
  background: rgb(69, 38, 240)
  
}

h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board{
  background-color: black;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  border: 1px solid red;
  border-radius: 15px;
}

p{
  margin:0;
  padding:0;
}

.display{
  color:white;
  display: flex;
  justify-content:flex-end;
  padding:2rem;
  font-size:x-large;
}

.line{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50%;
  width: 300px;
}

.first-line{
  display:grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 10%;
  margin:0;
  padding:0;
}

.btn{
  padding:2.5rem;
  margin:0 1.3rem;
  background-color: #cacaca;
  border-radius: 100px;
  border: grey;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}

#zero{
  padding-left: 3rem;
  padding-right: 3rem;
  width: 150px;
}